{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}

<!-- mastodon -->
<meta name="fediverse:creator" content="@sarttiso@mastodon.social">

<!-- umami -->
<script defer src="https://umami.ts-ht.com/script.js" data-website-id="0775ec1a-107e-4c73-ab7e-08325a4a5fac"></script>

{{- /* Head custom content area end */ -}}
